/* CSS Document */


/* 
*
*
[Table of contents]
*
*
*
    font / @import url
    preloader / .preloader 
    general / body
    navigation / .p-3-vh
    main menu  / .white nav
    menu right / .menu-right
    search / ul.shop.search
    side gallery / #bgsidegalery
    gallery / .filter-wraper
    gallery max width / #w-gallery-container 
    s-address / .sidebar .s-address
    s-social / .sidebar .s-social
    breadcumb / .breadcumb
    content detail / .imgbg-col
    accordion / .accordion .card-header:after 
    pricelist / .pricelist
    owl / .owl-theme .owl-nav
    owl logo / #owl-logo .item img
    slick projects / .slickproject .item .desc 
    project big / .projectbig
    slick / .slick .item
    team / #owl-team
    sercices / .servcices
    sercices-btn / .sercices-btn
    owl service / #owl-testimony
    blog / .blogcolumn
    map / #map-1 
    contact / .text-side
    footer / footer
    totop / #totop
    Blog / .blog-simple
    post meta / .post-meta 
    single post / .top-article 
    aside, sidebar / aside 
    Blog comment / #blog-comment
    comment form / .comment-respond 
    search menu / .search-container
    scroll onStep / .onStep

*
*
*/

/* font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

/* general */
body {
font-family: 'Cairo', sans-serif;
font-style: normal;
font-weight: 400;
background: #000;
color: #6f6f6f;
font-size: 16px;
line-height: 1.6;
letter-spacing: .3px;
}
section {
position: relative;
background: #fff;
padding: 90px 0;
}
.no-padding, section.no-padding{
padding: 0 !important;
}
.no-top{
padding-top: 0px !important;
}
.no-bottom{
padding-bottom: 0px !important;
}
.centered {
display: flex;
align-items: center;
justify-content: center;
}
.content-wrapper {
position: relative;
overflow: hidden;
}
.bggray{
background: #f7f7f7;
color: #6f6f6f;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: #464646;
  font-weight: 700;
}
.bgblack .h1, .bgblack .h2, .bgblack .h3, 
.bgblack .h4, .bgblack .h5, .bgblack .h6, 
.bgblack h1, .bgblack h2, .bgblack h3, 
.bgblack h4, .bgblack h5, .bgblack h6, .bgblack .detailcontent .heading, .bgblack a.card-title{
color:#fff; 
}
/*** preloader ***/
#preloader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #111;
  z-index: 99999;
}
.animsition-overlay-slide{
    background: #111;
    z-index: 99999;
}
#preloader .loader {
  font-size: 1.6rem;
  top: 43%;
  margin: 0;
  margin-bottom: 50px;
  position: relative;
  display: block;
  opacity: 1;
  text-align: center;
  color: #fff;
  z-index: 9999;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-top: 2px solid #f07c00;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1.2s infinite ease;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*** navigation ***/
.p-3-vh {
display: flex;
justify-content: space-between;
padding-left: 5%;
padding-right: 5%;
}
.subheader{
    width: 100%;
    font-size: .8rem;
    position: relative;
    top: 0;
    display: block;
    color: #fff;
    background: #313840;
    padding: 0 10px;
    z-index: 1001;
}
.subheader.show{
  position: fixed;
  top: -100%;
  transition: all 1.8s ease-in-out;
}
.subheader span.column{
    padding-right: 20px;
}
.subheader span.column span{
    padding-right: 5px;
}
.subheader span.column:last-child{
    padding-right: 0;
}
.language{
    cursor: pointer;
    float: right;
    margin: 5px 0;
}
.language-active{
    width: max-content;
    padding: 4px 15px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 20px;
}
.language-active:after{
    font-family: "FontAwesome";
    display: inline-block;
    content:"\f078";
    position: relative;
    top: -1px;
    font-size: .6rem;
    padding-left: 15px;
    opacity: .5;
}
.subheader .language-list {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 5px 30px 15px 30px;
    margin: 0;
    list-style: none;
    line-height: 2;
    background: #495360;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}
.centeredleft {
display: flex;
align-items: center;
justify-content: left;
}
header{
top: 0px;
left: 0px;
position: fixed;
z-index: 999;
}
header.init {
margin-bottom: 0px;
width: 100%;
padding: 15px 0;
background: rgba(0,0,0,0);
box-shadow: 0px 10px 60px rgba(0, 0, 0, 0);
-webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
-moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
header.bg{
top: 40px;
padding: 0 0;
}
header.show {
position: fixed;
top: 0px;
left: 0px;
padding: 0 0;
box-shadow: 0px 10px 60px rgba(0, 0, 0, .1);
background: #313840 !important;
-webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
-moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
transition: all .5s cubic-bezier(.165, .84, .44, 1);
}

/*logo*/
.logo {
position: relative;
top: 0px;
left: 0px;
margin: 10px 0;
margin: 0px;
height: auto;
z-index: 2;
}
.logo img{
max-height: 55px;
}
.logo img.show{
display: none;
}
header.show img.show{
display: block;
}
header.show img.init{
display: none;
}

/* main menu */
.white nav {
position: relative;
float: right;
top: 2px;
z-index: 999;
}
.white nav ul {
padding: 0;
margin: 0;
list-style: none;
position: relative;
}
.white nav ul li {
display: inline-block;
margin: 0;
margin-right: 20px;
}
.white nav ul li:last-child{
margin-right: 0px;
border-bottom: 0px;
}
.white nav ul li .input-group {
top: 15px;
margin-left: 20px;
width: 220px;
}
.white nav ul li .input-group button {
display: inherit;
padding: 0;
line-height: 0px;
border: none;
}
.white nav ul li .input-group i {
margin-left: 0px;
}
.white nav a {
color: #fff;
display: block;
padding: 35px 20px;
font-size: 1rem;
font-weight: 700;
letter-spacing: .3px;
text-decoration: none;
text-transform: uppercase;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
.white nav a:hover {
color: #ddd !important;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
.white nav a:hover::before {
display: inline-block;
position: absolute;
max-width: 35px;
color: rgba(255, 255, 255, 0);
border-bottom: 2px solid rgba(255, 255, 255, 1);
-webkit-transition: max-width 0.5s;
-moz-transition: max-width 0.5s;
transition: max-width 0.5s;
}
.white nav a::before {
position: absolute;
overflow: hidden;
max-width: 0;
border-bottom: 2px solid rgba(255, 255, 255, 0);
color: rgba(255, 255, 255, 0);
content: attr(data-hover);
-webkit-transition: max-width 0.5s;
-moz-transition: max-width 0.5s;
transition: max-width 0.5s;
white-space: nowrap;
}
.white nav a.actived {
color: #ddd !important;
}
.white nav ul ul {
display: none;
position: absolute;
top: 92px;
color: #efefef;
}
.white nav ul li:hover>ul {
display: inherit;
-webkit-animation-name: animfadeInUpmenu;
animation-name: animfadeInUpmenu;
-webkit-animation-duration: .3s;
animation-duration: .3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.white nav ul ul li {
width: 200px;
float: none;
display: list-item;
background: #313840;
border-bottom: 1px groove rgba(0, 0, 0, .1);
box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);
position: relative;
}
.white nav ul li i {
margin-left: 10px;
}
.white nav ul ul li a {
font-weight: 600;
color: #fff;
font-size: 13px;
line-height: 5px;
padding: 20px 30px;
}
.white nav ul ul li a:hover {
color: #efefef !important;
background: #363d46;
}
.white nav ul ul li a.active {
background: #f8f8f8;
}
.white nav ul ul li:last-child {
border-bottom: none;
}
.white nav ul ul ul li {
position: relative;
top: -75px;
left: 230px;
}
.white>nav>ul>li.has-children>a:after {
content: '\f107';
font-family: 'FontAwesome';
margin-left: 10px;
}
li>a:only-child:after {
content: '';
}
span.span-drop {
position: relative;
right: 0;
top: 0;
float: right;
cursor: pointer;
}
span.span-drop:after {
content: '\f107';
font-family: 'FontAwesome';
color: #fff;
width: 20px;
height: 20px;
margin-left: 2px;
text-align: center;
line-height: 20px;
display: inline-block;
}
a.actived span.span-drop:after{
color: #ddd !important;
}
.nav-icon{
display: none;
}

/* menu right */
.menu-right {
padding: 36px 0;
}
.menu-right .social-icons{
    margin: 0;
}
.menu-right .social-icons a{
    color: #fff;
    font-size: 11pt;
}
#showmobile{
  display: none;
}
.menu-right{
	width: max-content;
	padding: 0 15px;
}
.menu-right .iconright{
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	top: 3px;
}
.menu-right .iconright li{
	display: inline-block;
}
.menu-right .iconright li:last-child{
	padding-left: 30px;
}
.menu-right .iconright li:first-child{
	padding-right: 20px;
}
.menu-right .iconright li:last-child a{
	margin-right: 0px;
}
.menu-right .iconright li a{
	font-size: 1.1rem;
	color: #fff;
	text-decoration: none;
    padding: 35px 5px;
}
.menu-right .iconright li:hover>ul.shop{
    display: inherit;
    -webkit-animation-name: animfadeInUpmenu;
    animation-name: animfadeInUpmenu;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
ul.shop{
    display: none;
    padding: 20px 30px 60px;
    background: #313840;
    position: absolute;
    right: 60%;
    top: 50px;
    width: 260px;
    max-height: 500px;
    overflow-y: auto;
}
ul.shop li{
    position: relative;
    padding: 0 !important;
    border-bottom: 1px solid #394049;
}
ul.shop li.total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px !important;
}
ul.shop li.price{
    width: 100%;
    color: #fff;
    text-align: right;
    font-size: 21px;
    font-weight: 800;
    padding-bottom: 15px;
    border: none;
    padding: 10px 0px !important;
}
ul.shop li.total .viewcart{
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    float: right;
    width: max-content;
    text-align: center;
    padding: 5px 15px;
    color: #040404;
    background: #f07c00;
    margin-bottom: 10px;
    border-radius: 2px;
}
ul.shop li.total .viewcart.white{
    background: #efefef;
}
ul.shop li a{
    display: block;
    padding: 15px 10px;
    text-align: right;
}
ul.shop li a:hover{
    opacity: .8;
}
ul.shop li:last-child{
    border-bottom: 0px;
}
ul.shop li a .img{
    width: 168px;
    height: 90px;
    overflow: hidden;
}
ul.shop li a .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul.shop li a.xcancel{
    position: absolute;
    top: -5px;
    right: -20px;
    font-size: 1rem;
    font-weight: 500;
    opacity: .8;
}
ul.shop li a .title{
    font-size: 15px;
    font-weight: 400;
    padding: 5px 0 0;
}
ul.shop li a .price{
    font-size: 21px;
    font-weight: 700;
}
.menu-right .iconright li a .tot {
    position: absolute;
    bottom: -10px;
    left: -12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 11px;
}

/* search */
ul.shop.search{
    overflow-y: unset;
    width: max-content;
    padding: 15px 20px;
    right: 0;
}
form.search-form input[type="search"] {
  -webkit-appearance: none !important;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0rem;
  border: 1px solid #e0e0e5;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.275rem 1.25rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

form.search-form input[type="search"]:focus {
  transition: all 0.5s;
  border-color: #eee;
  outline: none;
}

form.search-form {
  display: flex;
  justify-content: center;
}

form.search-form label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  margin-bottom: 0;
}

form.search-form input.search-field {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  height: 41px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form.search-form input.search-submit {
  height: 41px;
  margin: 0;
  padding: .6rem .9rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 1rem;
}

form.search-form .button {
  display: inline-block;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  line-height: 16px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #f07c00;
  color: #fff;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

form.search-form .button:hover,
form.search-form .button:active,
form.search-form .button:focus {
  cursor: pointer;
  background: #e07604;
  color: #fff;
  outline: 0;
}
#showside{
    color: #fff;
    cursor: pointer;
}
/*** navigation end ***/

/* side gallery */
#bgsidegalery{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    z-index: 999;
}
#bgblock{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    z-index: 21;
}
#sidegalery{
    position: fixed;
    top: 0px;
    background: rgba(0,0,0,.3);
    z-index: 1001;
}
#sidegalery.init{
    right: -100%;
    transition: all .3s ease-in-out;
}
#sidegalery.show{
    right: 0px;
    transition: all .3s ease-in-out;
}
#sidegalery .sidebar{
    position: relative;
    display: block;
    width: calc(100% + 17px);
    height: 100vh;
    padding: 30px 60px;
    background: #313840;
    color: #fff !important;
    overflow-y: scroll;
    z-index: 1;
}
.sidebar .cl-sidebar{
    cursor: pointer;
    position: fixed;
    top: 0;
}
.cl-sidebar.init{
    right: -100%;
    transition: all .3s ease-in-out;
}
.cl-sidebar.show{
    right: 0;
    transition: all .3s ease-in-out;
}
.cl-sidebar div{
    display: block;
    text-decoration: none;
    color: #fff;
    width: 60px;
    height: 60px;
    background: #3a424b;
    text-align: center;
    line-height: 60px;
}
.sidebar h3{
    color: #fff;
    margin-top: 60px;
}
.sidebar .s-galery{
    width: 320px;
    margin-top: 30px;
}

/* gallery */
.filter-wraper{
display: block;
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
}
ul#filter-porto, ul#filterheading, ul#filternum{
display: inline-block;
padding: 0px;
}
ul#filter-porto li, ul#filterheading li, ul#filternum li{
display: inline-block;
list-style: none;
}
ul#filter-porto{
font-size: 0;
display: flex;
}
ul#filter-porto li{
color: #6f6f6f;
cursor: pointer;
font-size: .93rem;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
padding: 8px 26px;
margin-right: 5px;
margin-bottom: 5px;
border-radius: 4px;
width: max-content;
background: none;
white-space: nowrap;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
ul#filter-porto li:last-child{
margin-right: 0px;
}
ul#filter-porto li:hover, ul#filter-porto li.selected{
color: #464646;
background: none;
position: relative;
z-index: 1;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
ul#filter-porto li:after{
  display: block;
  position: relative;
  top: -2px;
  z-index: 0;
  content: '';
  width: 0%;
  height: 6px;
  background: #ddd;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
ul#filter-porto li.selected:after{
  display: block;
  position: relative;
  top: -2px;
  z-index: 0;
  content: '';
  width: 100%;
  height: 6px;
  background: #ddd;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
ul#filterheading li{  
position: relative;
top: 5px;
left: 0px;
font-size: .83rem;
font-weight: 800;
color: #292929;
background: #fff;
padding: 10px 0;
width: 100%;
text-align: center;
}
ul#filternum {
border-bottom: 1px solid #333;
}
ul#filternum li{
padding-right: 30px;
position: relative;
top: 5px;
left: 0px;
font-size: .73rem;
font-weight: 600;
}

/* gallery max width */
#w-gallery-container {
text-align: center;
overflow: hidden;
}
.w-gallery-container{
text-align: center;
margin-right: -6px;
margin-left: -2px;
}
.w-gallery{
border: 8px solid rgba(0,0,0,0);
border-radius: 4px;
overflow: hidden;
-webkit-transition-property: none;
-moz-transition-property: none;
-o-transition-property: none;
transition-property: none;
}
.w-gallery.no-border{
    border-radius: 0;
    border: 0px solid rgba(0,0,0,0);
}
.w-gallery:after {
content: '';
display: block;
clear: both;
}
.w-gallery-image {
width: 100%;
height: 100%;
object-fit: cover;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.s-galery .w-gallery-image{
  max-height: 60px;
  overflow: hidden;
}
.content-gallery{
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
background: rgba(0,0,0,0);
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.content-gallery:hover{
background: rgba(240,124,0,.6);
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.content-gallery::before{
content: "";
position: relative;
width: max-content;
height: max-content;
-moz-transition: width .3s ease-in-out;
-ms-transition: width .3s ease-in-out;
-o-transition: width .3s ease-in-out;
transition: width .3s ease-in-out;
}
.content-gallery span{
    display: none;
    font-size: 2rem;
    font-weight: 600;
}
.content-gallery:hover span{
    display: block;
}
.content{
position: absolute;
top: 10%;
left: 10%;
width: 80%;
height: 80%;
text-align: left;
opacity: 0;
-moz-transition: opacity .1s ease-in-out;
-ms-transition: opacity .1s ease-in-out;
-o-transition: opacity .1s ease-in-out;
transition: opacity .1s ease-in-out;
}

/* s-address */
.sidebar .s-address{
    width: 320px;
    margin-top: 30px;
}
.s-address .detail{
    font-size: 1rem;
    display: block;
    margin-bottom: 30px;
}
.s-address .detail span{
    font-size: 1.2rem;
    padding-right: 20px;
}
.s-address .detail a{
    font-weight: 600;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

/* s-social */
.sidebar .s-social{
    width: 320px;
    margin: 30px 0;
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar .s-social a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 15px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 40px;
    transition: all .3s ease-in-out;
}
.s-social a:hover{
    border: 1px solid rgba(255,255,255,.8);
    transition: all .3s ease-in-out;
}

/* breadcumb */
.breadcumb{
  display: block;
  background: #313840;
  padding: 160px 0;
  background-size: cover;
}
.breadcumb .main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.main .bread{
  color: #fff;
  text-align: center;
  padding: 60px 0 0;
}
.bread .spacebread{
  padding: 0 5px;
}
.bread .spacebread::before{
  display: inline-block;
  content: '';
  width: 30px;
  height: 1px;
  position: relative;
  top: -4px;
  background: #fff;
  
}
.main .bread-title{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 auto;
  display: block;
}
.main .bread-subtitle{
  margin: 15px auto 0;
  display: inline-block;
}
.main .bread-subtitle a{
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

/* content detail */
.imgbg-col{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgbg-png{
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 90px;
}
.detailcontent{
  display: block;
  padding: 90px 5%;
  line-height: 2;
  letter-spacing: .3px;
}
.detailcontent .icon{
  width: max-content;
  height: auto;
}
.detailcontent .icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bgblack{
  background: #292e34;
  color: #fff;
}
.detailcontent .subheading{
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
}
.detailcontent .heading{
  font-size: 2.7rem;
  font-weight: 700;
  color: #464646;
  margin: 15px 0 20px;
  line-height: 1.2;
}
.detailcontent .textdetail{
  font-weight: 500;
  margin-bottom: 30px;
}
.btn-content { 
  display: block;
  position:relative;
  width: max-content;
  height: auto;
  font-size: 13pt;
  font-weight: 800;
  text-align: center;
  letter-spacing:1px;
  text-shadow: none;
  line-height: 15px;
  padding: 14px 40px;
  background: #f07c00;
  cursor: pointer;
  overflow: hidden;
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-content a{
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.btn-content:hover { 
    background: #f07c05;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-content:hover .shine{
    -webkit-animation: sheen .9s alternate;
    animation: sheen .9s alternate;
} 
.btn-content:hover a{ 
    color:#fff;
}

/* accordion */
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card{
  border: 0px;
  background: none;
}
.accordion .card-header{
  font-size: 1.1rem;
  color: inherit;
  font-weight: 600;
  background: none;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding: 1.25rem 0;
}
.accordion .card-body{
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}
.accordion .card-header.collapsed:after {
    content: "\f067"; 
}

/* pricelist */
.pricelist{
text-align: center;
border: 1px solid #ddd;
padding: 45px 30px 50px;
margin: 0 auto 20px;
box-shadow: 20px 20px #f4f4f4;
}
.pricelist .prices{
font-size: 4.8rem;
font-weight: 600;
color: #464646;
line-height: 1.2;
padding-bottom: 15px;
}
.pricelist.bgblack .prices{
color: #fff;
}
.prices .perms{
font-size: 1rem;
font-weight: 500;
color: #888;
}
.prices .perms:before{
display: inline-block;
position: relative;
content: "";
top: 15px;
left: -5px;
width: 1px;
height: 49px;
background: #929292;
-webkit-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);
}
.pricelist ul.list{
list-style: none;
list-style-type: none;
list-style-type: none;
margin: 20px auto;
padding: 0px;
text-align: left;
}
.pricelist ul.list li{
font-size: .96rem;
font-weight: 400;
padding: 20px 0;
border-top: 1px solid #eee;
display: flex;
justify-content: space-between;
}
.pricelist ul.list li:last-child{
border-bottom: 1px solid #eee;
}
.pricelist.bgblack ul.list li{
border-top: 1px solid rgba(255,255,25,.1);
}
.pricelist.bgblack ul.list li:last-child{
border-bottom: 1px solid rgba(255,255,25,.1);
}
.pricelist ul.list li i{
    margin: 5px;
}
.pricelist .latin{
    margin: 10px auto 60px;
}
.btnpricelist{
    text-align: center;
    margin: 45px auto 0;
}

/* owl */
.owl-theme .owl-nav{
position: absolute;
bottom: 55%;
width: 100%;
}
.owl-carousel .owl-nav button.owl-prev i, .owl-carousel .owl-nav button.owl-next i{
font-size: 1.2rem;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
background: none!important;
}
.owl-carousel .owl-nav button.owl-prev{
left: -30px;
position: absolute;
outline: 0;
}
.owl-carousel .owl-nav button.owl-next{
right: -30px;
position: absolute;
outline: 0;
}
.owl-nav{
opacity: 0;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.owl-carousel:hover .owl-nav {
opacity: 1;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* owl logo */
#owl-logo .item img{
margin: 0 auto;
max-width: 180px;
height: auto;
}
.owl-theme .owl-nav [class*="owl-"]{
padding: 20px 25px;
background: rgba(0,0,0,.6);
border-radius: 0px;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
background: rgba(0,0,0,1);
}
.owl-next{
position: absolute;
right: -5px;
}
.owl-prev{
position: absolute;
left: -5px;
}

/* slick projects */
.slickproject .item .desc {
position: absolute;
bottom: 15px;
left: 25px;
text-align: left;
color: #fff;
transition: all .3s ease;
}
.slickproject .item:hover .desc {
bottom: 30px;
transition: all .3s ease;
}
.slickproject .item .desc .tag {
position: relative;
font-size: .9rem;
padding-bottom: 10px;
}
.slickproject .item .desc .name {
position: relative;
max-width: 180px;
font-weight: 600;
font-size: 1.8rem;
letter-spacing: .6px;
padding-bottom: 35px;
transition: all .3s ease;
}
.slickproject .item .icon {
opacity: 0;
width: 100%;
position: absolute;
text-align: right;
left: 25px;
bottom: 10px;
text-align: left;
transition: all .3s ease;
}
.slickproject .item:hover .icon {
opacity: 1;
bottom: 45px;
transition: all .3s ease;
}
.slickproject .item .icon a {
font-weight: 600;
text-decoration: none;
display: inline-block;
white-space: nowrap;
width: 40px;
padding: 0 0 5px;
color: #fefefe;
border-bottom: 2px solid #f07c00;
transition: all .3s ease;
}
.slickproject .item .icon a:hover {
color: #fff;
width: 60px;
transition: all .3s ease;
}

/* project big */
.projectbig{
position: relative;
border-radius: 0;
padding: 0;
margin: 0;
height: 100vh;
overflow: hidden;
background: none;
}
.projectbig img{
width: 100%;
height: auto;
object-fit: cover;
}
.herocaption {
padding: 45px 6% 30px;
position: absolute;
bottom: 0;
left: 0;
width: 100vw;
background: rgba(49,56,64,.8);
}
.herocaption .catgor{
color: #fff;
font-size: 0.97em;
font-weight: 600;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 15px;
}
.herocaption .heading{
color: #fff;
font-size: 3.3em;
max-width: 80vw;
font-weight: 700;
}
.herocaption .content{
color: #fff;
font-size: 1rem;
max-width: 80vw;
}
.arrow {
color: #fff;
white-space: nowrap;
top: -80px;
left: 0;
z-index: 10;
padding: 19px;
height: 75px;
width: 75px;
position: absolute;
float: left;
background-color: rgba(49, 56, 64, 0.8);
cursor: pointer;
transition: background-color 0.1s ease-in-out 0s, border-radius 0.1s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}
.arrow:hover{
text-decoration: none;
color: #fff;
background-color: rgba(49, 56, 64, 0.9); 
transition: background-color 0.1s ease-in-out 0s, border-radius 0.1s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}
.arrow span{
padding-left: 30px;
font-size: 1.3rem;
font-weight: 600;
}
#detailproject{
display: block;
}
#detailproject .content{
padding-bottom: 15px;
}
#detailproject .sticky{
position: sticky;
top: 0;
left: 0;
}
#detailproject .sticky .detailproject{
list-style: none;
padding: 0;
margin: 0;
}
#detailproject .sticky .detailproject li{
color: #fff;
font-size: 16px;
display: flex;
justify-content: space-between;
padding: 0 0 15px 0;
margin-bottom: 15px;
border-bottom: 1px solid rgba(255,255,255,.1);
}
#detailproject .sticky .detailproject li .tile{
font-weight: 600;
}
.tags{
display: block;
margin: 15px 0;
}
.tags .heading{
font-size: .98rem;
font-weight: 600;
margin-right: 15px;
}
.tags a.content{
font-size: .96rem;
font-weight: 300;
color: #ddd;
text-decoration: none !important;
margin-right: 5px;
}
.tags a.content::after{
content: ',';
}
.tags a.content:last-child::after{
    content: '';
}
.tags a.content:hover{
color: #f07c00;
transition: all 0.3s ease;
}
#detailproject .share{
position: relative;
display: block;
margin: 0 0 15px;
padding: 0;
}
#detailproject .share .heading{
font-size: .98rem;
font-weight: 600;
margin-right: 15px;
}
#detailproject .share .content{
font-size: 1rem;
font-weight: 300;
color: #ddd;
margin: 0 10px;
cursor: pointer;
transition: all 0.3s ease;
}
#detailproject .share .content:hover{
color: #ffb41d;
transition: all 0.3s ease;
}
.single-img.max-height400 {
max-height: 400px;
}
.single-img {
display: inline-block;
width: 100%;
height: auto;
overflow: hidden;
}
.single-img.pimg-5 {
padding: 15px;
}
.single-img.max-height300 {
max-height: 309px;
}
.single-img img {
width: 100%;
height: auto;
object-fit: cover;
}

/* slick */
.slick .item {
cursor: pointer;
margin: 0;
position: relative;
height: 100%;
outline: none;
overflow: hidden;
}
.slick .item .bg{
position: relative;
overflow: hidden;
margin-right: 0;
}
.slick .item .bg::before {
position: absolute;
content: "";
width: 100%;
height: 100%;
bottom: 0;
left: 0;
background: linear-gradient(0deg,#2e343b,rgba(46,52,59,.6));
opacity: .3;
transition: all .1s cubic-bezier(.215,.61,.355,1);
}
.slick .item:hover .bg::before {
opacity: 1;
height: 100%;
background: linear-gradient(0deg,#2e343b,rgba(46,52,59,.1));
transition: all .3s cubic-bezier(.215,.61,.355,1);
}
.slick .item .bg img{
width: 100%;
height: 100%;
min-height: 380px;
object-fit: cover;
}
.slick .item .desc {
position: absolute;
bottom: 15px;
left: 25px;
text-align: left;
color: #fff;
}
.slick .item .desc .name {
font-weight: 700;
font-size: 1.6rem;
letter-spacing: .6px;
line-height: 1.2;
padding-bottom: 60px;
}
.slick .item .desc .content {
position: relative;
bottom: -100%;
color: #ddd;
margin-bottom: -40%;
opacity: 0;
transition: all .6s ease;
}
.slick .item:hover .content {
opacity: 1;
margin-bottom: 30px;
transition: all .9s ease;
}

/* team */
#owl-team{
  display: block;
}
#owl-team .listteam{
  margin: 0;
  position: relative;
  height: 100%;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}
.listteam.detail {
    padding: 15px;
    background: #fff;
    max-width: 500px;
    margin: 0 auto;
}
.listteam .bgimg{
  width: 100%;
  height: 100%;
}
.listteam .bgimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listteam.detail .bgimg img{
  max-height: 480px;
}
.listteam .detail{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#2e343b,rgba(46,52,59,0));
  opacity: 0;
  transition: all .6s ease;
}
.listteam:hover .detail{
  opacity: 1;
  background: linear-gradient(0deg,#2e343b,rgba(46,52,59,.1));
  transition: all .6s ease;
}
.listteam .detail .listdetail{
  color: #fff;
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom: 15px;
}
.listteam .detail.big {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020b1c;
    transition: all .6s ease;
}
.listteam .detail.big .listdetail{
  position: relative;
  padding: 35px 15px 25px;
}
.listteam .detail .listdetail .name{
  font-size: 1.6rem;
  font-weight: 700;
}
.listteam .detail .listdetail .jobtitle{
  font-size: .9rem;
  margin: 5px 0;
}
.listteam .detail .listdetail .jobtitle::before, .listteam .detail .listdetail .jobtitle::after{
  content: '----';
  padding: 0 5px;
}
.listteam .s-social{
    width: max-content;
    margin: 15px 0 0;
}
.listteam .s-social a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 40px;
    transition: all .3s ease-in-out;
}
.listteam .big .s-social a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 40px;
    transition: all .3s ease-in-out;
}
.listteam .s-social a:hover{
    border: 1px solid rgba(255,255,255,.8);
    transition: all .3s ease-in-out;
}
.detailcontent .quote{
    display: flex;
    margin: 30px 0;
    font-weight: 600;
    font-style: italic;
}
.detailcontent .quote::before{
    content: '"';
    position: relative;
    font-size: 12rem;
    padding-right: 10px;
    color: #f05500;
    top: -120px;
    height: 65px;
    left: -40px;
}
.detailcontent ul.listcontent{
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}
.detailcontent ul.listcontent li::before {
  content: "✓";
  color: #f05500;
  font-weight: bold;
  display: inline-block; 
  width: 1.3em;
  margin-right: 5px;
}

/* sercices */
.servcices{
    display: block;
    padding: 0;
    position: relative;
}
.servcices .bgimg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #313840;
}
.servcices .bgimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .1;
}
.servcices .content{
    color: #fff;
    position: relative;
    padding: 60px 0;
    text-align: center;
    opacity: 1;
}
.servcices .content .icon{
    width: max-content;
    max-height: 80px;
    padding: 15px 0;   
    margin: 0 auto;
}
.servcices .content .icon img{
    width: 100%;
    height: 60px;
    object-fit: cover;
}
.servcices .content .heading{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px 0 5px;
}
.servcices .content .textdetail{
    font-weight: 400;
    padding: 0 0 ;
}
.servcices .content .btn-content{
    margin: 20px auto 0;
}

/* sercices-btn */
.sercices-btn{
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0; 
}
.sercices-btn .services-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.sercices-btn .services-list a{
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 30px;
  color: #464646;
  background: #e6e6e6;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sercices-btn .services-list a:before{
  content: '';
  display: inline-block;
  position: relative;
  top: -3px;
  margin-right: 15px;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background: #ddd;
}
.sercices-btn .services-list a:hover, .sercices-btn .services-list a.active{
  color: #fff;
  background: #292e34;
  transition: all 0.3s ease;
}
.owl-services{
  padding: 15px 0 45px;
}

/* owl service */
#owl-testimony{
 display: block;
}
#owl-testimony .content-testy{
  display: block;
  padding: 60px 30px;
  border: 1px solid #ddd;
  text-align: center;
}
#owl-testimony .owl-dots .owl-dot span{
  position: relative;
  padding: 8px;
  border: 1px solid rgba(0,0,0,0);
  background: none;
  margin-top: 30px;
}
#owl-testimony .owl-dots .owl-dot span:before{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background: #828282;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  border: 1px solid #828282 !important;
}
#owl-testimony .owl-dots .owl-dot.active span:before{
  background: #828282;
}
.testy-text{
  padding: 15px 0;
}
.testy-text:before{
  content: '"';
  display: block;
  font-size: 6rem;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: -15px;
}
.testy-text span{
  display: block;
  margin: 15px 0;
}
.user{
  padding: 0 0 15px;
}
.user .img{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
  margin: 0 auto 15px;
}
.user .name{
  font-size: 1.2rem;
  font-weight: 700;
}
.user .title{
  color: #aaa;
  line-height: 13px;
}

/* blog */
.blogcolumn{
    display: block;
    padding: 15px;
    margin: 0;
    border: 1px solid #eee;
}
.blogcolumn .imgtop{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 220px;
    overflow: hidden;
}
.blogcolumn .imgtop .tag{
    color: #fff;
    font-size: .87rem;
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 8px 20px;
    background: rgba(49,56,64,.8);
}
.blogcolumn .imgtop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogcolumn .blogcont{
    padding: 30px 15px 15px;
}
.blogcolumn .blogcont .date{
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
}
.blogcolumn .blogcont .headingblog{
    font-size: 1.6rem;
    font-weight: 700;
    color: #464646;
    line-height: 1.2;
    margin: 15px 0;
}
.blogcolumn .blogcont .descblog{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

/* map */
#map-1 {
width: 100%;
height: 60vh;
padding-top: 0px;
padding-bottom: 0px;
}
.map{
background: #fdfdfd;
}

/* contact */
.text-side{
padding:  0;
margin-top: 0;
}
.text-side .heading{
font-size: 1.6rem !important;
}
.text-side .address{
padding-top:15px;
line-height: 1.3;
}
.text-side .address .heading{
font-size: 1.3rem !important;
font-weight: 500;
letter-spacing: 1px;
margin-bottom: 15px;
}
.text-side .address .list{
position: relative;
max-width: 320px;
display: block;
padding: 15px 0 15px;
padding-left: 40px;
}
.text-side .address .list i{
position: absolute;
top: 15px;
left: 5px;
font-size: 1.3rem;
display: inline-block;
color: #ffb41d;
}
.text-side .address .list a{
color: inherit;
text-decoration: none;
transition: all 0.3s ease;
}
.text-side .address .list a:hover{
color: #ffb41d;
transition: all 0.3s ease;
}
.heading-cont{
position: relative;
font-size: 16pt;
margin-top: 0px;
margin-bottom:15px;
padding-bottom:15px;
border-bottom: 1px solid rgba(255,255,255,.1);
}
.heading-cont:after{
content: "";
position: absolute;
bottom: -2px;
left: 0px;
width: 25%;
height: 3px;
background: #dd7608;
}
.form-group {
margin-bottom: 20px;
}
.form-control {
width:100% !important;
height: 53px !important;
padding: 4px 20px 6px 40px;
font-size: 14px;
line-height: 24px;
color: inherit;
background: none;
border: 1px solid rgba(0,0,0,.1); 
border-radius: 0;
box-shadow: none;
}
.form-control:focus {
background: none;
color: inherit;
border: 1px solid rgba(0,0,0,.3); 
box-shadow: none;
}
.user-message textarea {
min-height: 195px;
padding-top: 12px;
}
.contact-form form button {
margin-top: 10px;
}
.user-name,
.user-email,
.user-phone,
.user-url,
.user-message{
position: relative;
}
.user-name::after,
.user-email::after,
.user-phone::after,
.user-url::after,
.user-message::after {
position: absolute;
left: 15px;
top: 13px;
font-family: "FontAwesome";
color: rgba(0,0,0,.8);
}
.user-name::after {
content: "\f007";
}
.user-email::after {
content: "\f003";
}
.user-phone::after {
content: "\f095";
}
.user-url::after {
content: "\f0ac";
}
.user-message::after {
content: "\f086";
}
.btn-contact {
font-size: 12pt;
font-weight: 700;
letter-spacing: 2px;
font-style:normal;
text-align:center;
padding: 8px 40px;
color: #fff;
border:2px solid rgba(0,0,0,0);
background: #dd7608;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
outline: none;
text-shadow:none;
margin-top: 15px;
margin-left:0px;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.btn-contact:hover{ 
color:#fff;
background:#999;
}
.btn{
display: block;
}
.error {
width: 100%;
display: none;
padding: 2px 10px 2px 10px;
font-size: 11px;
margin: 10px auto;
}
.success {
width: 100%;
display: none;
padding: 5px 0px 2px 0px;
font-size: 11px;
margin: 10px auto;
}
/* contact end */

/* footer */
footer{
    font-weight: 400;
    background: #292e34;
    padding: 90px 0 0;
}
footer .logo{
    margin-bottom: 30px;
}
footer .heading{
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 30px;
}
footer .description{
    color: #fff;
    line-height: 2;
}
footer .s-social{
    width: max-content;
    margin: 30px 0 0;
}
footer .s-social a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 15px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 40px;
    transition: all .3s ease-in-out;
}
footer .s-social a:hover{
    border: 1px solid rgba(255,255,255,.8);
    transition: all .3s ease-in-out;
}
footer .s-address{
    color: #fff;
}
footer .s-address a{
    transition: all .3s ease-in-out;
}
footer .s-address a:hover{
    opacity: .6;
    transition: all .3s ease-in-out;
}
#subsribe{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
#subsribe input[type="email"], input[type="submit"] {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 38px;
}
#subsribe input[type="email"]{
    width: 100%;
    font-weight: 400;
    font-size: .87rem;
    background-color: #313840;
    border: solid #313840;
    color: #efefef;
}
#subsribe input[type="submit"] {
    position: absolute;
    width: max-content;
    top: 0px;
    right: 0px;
    font-weight: 800;
    background-color: #dd7608;
    border: solid #dd7608;
    color: white;
    cursor: pointer;
}
.subfooter{
    display: flex;
    justify-content: space-between;
    padding: 30px 0; 
    margin-top: 45px;
    border-top: 1px solid rgba(255,255,255,.1);
}
.subfooter .copyright{
    font-size: .9rem;
    color: #ccc;
}
.subfooter .terms{
    font-size: .9rem;
    font-weight: 400;
    color: #ccc;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.subfooter .terms:hover{
    opacity: .6;
    transition: all .3s ease-in-out;
}


/* totop */
#totop {
width: 35px;
height: 35px;
font-size: 10pt;
color: #fff;
background: #292929;
line-height: 32px;
position: fixed;
right: 20px;
text-align: center;
cursor: pointer;
z-index: 9;
border-radius: 50%;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#totop.init {
bottom: -100px;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#totop.show {
bottom: 20px;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#totop:hover {
background: #f07c00;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}
/* totop end */


/* Blog */
.blog-simple{
display: block;
margin-bottom: 60px;
}
.blog-simple img, .blog-simple a img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.blog-simple .blog-text {
display: block;
position: relative;
width: 100%;
padding: 15px 15px 15px 0px; 
margin-bottom: 30px;
letter-spacing:.3px;
}
.blog-simple blockquote{ 
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: 1.6em;
padding: 30px;
margin: 30px 0 30px 0;
border-left: 5px solid #f07c00;
}
.blog-simple .blog-text a{
  color: #464646;
  text-decoration: none;
}
.blog-simple .blog-text .heading { margin-top:15px;}
.blog-simple .blog-text h3 a{ font-weight:500;}
.blog-simple .blog-text span {
display: inline-block;
margin-bottom: 20px;
}
.blog-simple .blog-text span.date-post {
font-size: 13px;
font-weight: 400;
margin-left: 20px;
}
.blog-simple .blog-text span.date-post i {
padding-right: 7px;

}
.blog-simple .blog-text span.user-post {
font-size: 13px;
font-weight:400;
}
.blog-simple .blog-text span.user-post i {
padding-right: 7px;

}
.blog-simple .blog-text span.comment {
margin-left:20px;
font-size: 13px;
}
.blog-simple .blog-text span.comment a{
  color: #6f6f6f;
  text-decoration: none;
}
.blog-simple .blog-text span.comment a i {
padding-right: 7px;

}
.blog-simple .blog-text h3 {
font-size: 20px;
margin-bottom: 20px;
font-weight: 300;
line-height: 1.5;
}
.btn-blog{
display: block;
position:relative;
width: max-content;
height: auto;
color: #fff !important;
text-decoration: none; 
font-size: 12pt;
font-weight: 800;
text-align: center;
letter-spacing:1px;
text-shadow: none;
line-height: 15px;
padding: 13px 36px;
margin-top: 30px;
background: #f07c00;
cursor: pointer;
overflow: hidden;
-ms-transform: scale(1, 1);
transform: scale(1, 1);
-moz-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
transition: all 0.6s ease;
}
.btn-blog:hover{
color: #292929;
text-decoration: none; 
transition: all .3s cubic-bezier(.215,.61,.355,1); 
}
.blog-simple ul.pagination{
position: relative !important;
color: #fff;
top: 0px;
left: 0px;
margin-bottom: 0px;
padding: 0;
}
.blog-simple ul.pagination li a{  
font-size: 9.5pt;
font-weight: 700;
color: #6f6f6f;
background: none;
padding: .72rem 1.1rem;
border: 1px solid rgba(0,0,0,.1);
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.blog-simple ul.pagination li a:hover, .page-item.active .page-link{ 
color: #fff; 
background: #f07c00; 
border: 1px solid rgba(255,255,255,.1);
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

/* post meta */
.post-meta {
background: #fcfcfc;
border-top: none;
text-align: center;
}
.post-meta .format {
border-bottom: 1px solid #333333;
padding: 10px 0 10px;
}
.post-meta i {
margin: 0;
}
.post-meta .date {
border-bottom: 1px solid #e6e6e6;
padding: 10px 0 10px;
}
.post-meta .date span {
text-align: center;
color: #efefef;
font-size: 12px;
font-weight: 500;
}
.post-meta .comments {
padding: 10px 0 10px;
}
.post-meta .comments a {
color: #efefef;
font-size: 10px;
font-weight: 500;
}
.post-meta .comments a:hover {
text-decoration: none;
}

/* post format */
.post-image {
margin-bottom: 20px;
}
ul.meta-post {
float: left;
margin: 0;
padding: 0;
list-style: none;
}
ul.meta-post li {
float: left;
margin: 0 10px 0 0;
padding: 0;
list-style: none;
}
ul.meta-post li a {
float: left;
font-size: 11pt;
font-weight: 500;
padding-top:20px;
}

/* single post */
.top-article {
display:block;
margin-top: 30px;
}
.bottom-article {
overflow: hidden;
padding: 10px 0 10px 0;
margin-top: 10px;
margin-bottom: 30px;
}
.bottom-article a.btn {
display: inline-block;
width:auto;
height: 40px;
font-size:10pt;
font-weight:600;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:38px;
color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
outline: none;
text-shadow:none;
margin: 5px auto;
margin-left:0px;
padding: 0 30px 0 30px;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; 
}
.bottom-article a.btn:hover{
color:#999;
background:#efefef;
}

/*  aside, sidebar */
aside {
position: relative;
margin-bottom: 40px;
}
.sidebar-nav {
float: left;
width: 100%;
}
.right-sidebar {
margin: 0 auto;
}
.left-sidebar {
padding: 0 30px 0 0;
}
.left-sidebar .widget h3, .left-sidebar .widget .widget-content {
padding-right: 20px;
}
aside .widget, .widget {
margin-bottom: 40px;
}
.widget .search-container{
padding: 0;
width: 100%;
margin: 0 auto;
}
.widget .form-control {
width:100% !important;
height:auto !important;
padding: 7px 10px 7px 10px !important;
font-size: 13px;
line-height: 24px;
color: #f8f8f8;
background: none;
border: 1px solid rgba(255,255,255,.1);
border-radius: 0;
box-shadow: none;
}
.widget .form-control:focus {
border: 1px solid rgba(255,255,255,.3);
box-shadow: none;
}
.widget .recent div {
width: 100%;
display: inline-block;
padding-bottom: 25px;
}
.widget .recent div img {
float: left;
margin-right: 20px;
width: 65px;
height: 65px;
object-fit: cover;
}
.widget .recent div h6 {
font-size: 18px;
margin-top: 10px;
margin-bottom: 5px
}
.widget .recent div h6 a{
font-weight: 700;
color: #464646;
text-decoration: none;
}
.widget .recent div p {
line-height: 20px;
}
.widget .tags {
margin: 0;
margin-left: 0;
padding-left: 0;
}
.widget .tags div {
margin: 5px 5px 15px 0;
display: inline-block;
}
.widget .tags div a {
font-size: 14px;
color: inherit;
border: 1px solid rgba(0,0,0,.1);
padding: 4px 10px;
text-align: center;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.widget .tags div a:hover {
text-decoration: none;
border: 1px solid #f07c00;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.devider-widget {
display: block;
border-bottom: 2px solid #f07c00;
margin-bottom: 30px;
margin-top: 20px;
width: 60px;
text-align: left;
}

.input-group input[type="text"], .input-group input[type="text"]{
font-size:9pt;
letter-spacing:.9px;
font-weight:400;
}
.input-group input[type="text"]:focus, .input-group input[type="text"].focus{
color:#111;
}
.input-group span.icon{
display:inline-block;
padding:6px 12px;
margin-bottom:0; 
margin-left:0px; 
font-size:14px;
font-weight:400;
line-height:2;
text-align:center;
white-space:nowrap;
vertical-align:middle; 

color:#fff;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.input-group-btn button span.icon{
background: #333;
}
.input-group-btn button:hover span.icon{
background: #f07c00;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
/* Blog end */

/* Blog comment */
#blog-comment {
margin-top: 60px;
padding: 0px;
}
#blog-comment h5 {
font-size: 14px;
font-weight: 600;
margin-bottom: 15px;
padding-bottom: 15px;
}
#blog-comment > ul, #blog-comment > li {
list-style: none;
padding-left: 0;
}
#blog-comment ul.children > ul {
list-style: none;
}
#blog-comment li .avatar {
position: absolute;
border-radius: 100%;
overflow: hidden;
}
#blog-comment li .avatar{
object-fit: cover;
width: 65px;
height: 65px;
}
#blog-comment li .avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#blog-comment .comment {
font-size: 13px;
margin-left: 85px;
}
#blog-comment li {
font-size: 14px;
line-height: 1.6em;
padding-bottom: 0px;
}
#blog-comment li > li {
margin-left: 0px;
padding-bottom: 0px;
margin-top: 20px;
padding-top: 10px;
border-bottom: none;
}
#blog-comment li li .avatar {
position: absolute;
}
#blog-comment ul.children {
margin-left: 70px;
}
#blog-comment .pingback-entry {
margin-bottom: 20px;
}

#blog-comment p.no-comments {
color: #8a6d3b;
background-color: #fcf8e3;
padding: 5px 15px;
margin-bottom: 20px;
border-radius: 4px;
font-style: italic;
border: 1px solid #faebcc;
}
#blog-comment > ul ul {
list-style: none;
margin-top: 10px;
}
.comment-info {
margin-left: 85px;
margin-bottom: 5px;
background: #fdfdfd;
padding: 20px 30px;
}
.comment-info .c-name {
font-size: 1rem;
font-weight: 800;
}
.comment-info .c-reply {
display: block;
margin-top: 10px;
margin-bottom: 5px;
}
.comment-info .c-reply a {
color: #6f6f6f;
font-size: .81rem;
text-transform: uppercase;
text-decoration: none;
font-weight: 700;
letter-spacing: .9px;
}
.comment-info .c-reply a:hover{
color: #ccc;
}
.comment-info .c-reply a::before {
content: "\f112";
margin-right: 5px;
font-family: fontawesome;
font-size: 9px;
color: #ddd;
}
.comment-info .c-date {
display: inline;
text-transform: uppercase;
font-size: 11px;
float: right;
font-weight: 400;
}
.comment-info .c-date i {
padding-right: 0px;
}
.comment-content.entry.clr p {
font-size: 14px;
margin: 15px 0;
}

/* comment form */
.comment-respond {
margin-top: 10px;
padding: 25px 30px;
background: #fdfdfd;
}
.comment-form{
    margin: 15px 0;
}
#comment-form-wrapper h6 {
font-size: 11pt;
margin-bottom: 15px;
padding-bottom: 15px;
}
#comment-form-wrapper {
margin: 50px 0 50px 0;
padding: 0px;
}
#commentform input {
width: 100%;
font-size: 14px;
padding: 10px;
height: 40px;
letter-spacing: 0px;
color: inherit;
background: rgba(0, 0, 0, 0);
border: 1px solid rgba(0,0,0,.1);
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.2s ease;
}
#commentform input:focus {
background: rgba(0, 0, 0, 0);
border: 1px solid rgba(0,0,0,.1);
}
#commentform textarea {
width: 100%;
font-size: 14px;
padding: 10px;
height: 150px;
color: inherit;
background: rgba(0, 0, 0, 0);
border: 1px solid rgba(0,0,0,.1);
}
#commentform textarea:focus {
color: #f8f8f8;
background: rgba(0, 0, 0, 0);
}
#commentform button.btn, #commentform input[type="submit"] {
width: 160px;
height: 40px;
font-size: .83rem;
font-weight: 800;
letter-spacing: 1px;
font-style: normal;
text-align: center;
text-transform: uppercase;
line-height: 35px;
color: #fff;
border: 0px solid rgba(0, 0, 0, 0);
background: #f07c00;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
outline: none;
text-shadow: none;
margin: 15px auto 0;
margin-left: 0px;
padding: 0;
cursor: pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#commentform button.btn:hover, #commentform input[type="submit"]:hover {
color:#fff;
background:#999;
}
#cancel-comment-reply-link {
color: red;
}
.comment-reply-title {
font-size: 1.3rem;
font-weight: 700;
line-height: 1.3333;
letter-spacing: 0;
}

/* search menu */
.search-container {
position: relative;
width: 100%;
padding: 5vh 15% 5vh;
}
#searchmenu{
position: relative;
}
.s-input-home {
font-size: 1rem;
background: rgba(0,0,0,0);
width: 100%;
height: 46px;
padding: 0;
border: 0px;
border-bottom: 1px solid #ddd;
}
.btn-s-input {
position: absolute;
top: 0px;
right: 0px;
width: 56px;
height: 46px;
font-size: .9rem;
background: none;
border: 0px;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
/* Blog comment end */

/* scroll onStep */
.onStep {
opacity: 0;
}